body{
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    background:#FFFFFF;

}
#intro
    {
		background: url(../images/bg5.jpg);
		background-size:  cover;
		background-attachment:  fixed;
		background-position:  top;
		background-repeat:  no-repeat;
        overflow-y : hidden;
    }


p{
    font-size: 16px;
    word-spacing: 5px;
    color:#587272;
    display:block;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto; 
}
.pad-10
{
    padding-left: 10px;
}
a.size
{
font-size:15px;
}
.italic
{
    font-style: italic;
}
.bold
{
    font-style: oblique;
}
.img-thumb
{
width: 50px;
height:50px;
}
a.bgcolor
{
color:#ffffff;
}
.resume-right
{
	padding-top:100px;

}
.pink
{
background-color:#CC6633;
}
.blue 
{
    background-color:#3399CC;
}
.green
{
background-color:#9DCE5C;
}
.purple
{
background-color:#BC4676;
}
.yellow
{
    background-color:#fec325;
}
dt
{
font-size:12px;
text-wrap:normal;
}
dt
{
font-size:8px;
text-wrap:normal;
}

a
{
color:#000000;

}
#link_content
{
margin-top : 10px;
}
.p-resume
{
color :#000033;
}
img
{
    width:300px;
    height:300px;

}
.project
{ 
    background:#FFFFFF;
    padding-left:150px;
    padding-bottom: 100px;

}
.project h2 {
color: #515151;
text-align: center;
    padding-right: 150px;

}
.img-normal
{
    width: 150px;
    height: 150px;

}
.btn-circle {
    width:100px; 
    height:100px; 
    border-radius:60px;
     -moz-border-radius: 60px; 
     -webkit-border-radius: 60px; 
     -khtml-border-radius: 60px; 
     font-size:12px; 
    position: relative;		
     text-align:center;
line-height:120px;

      }
.btn-bigcircle {
    width:150px; 
    height:150px; 
    border-radius:75px;
     -moz-border-radius: 75px; 
     -webkit-border-radius: 75px; 
     -khtml-border-radius: 75px; 
     font-size:12px; 
     position: relative;		
     text-align:center;
    line-height:150px;

      }

.resumeline
{
line-height:50px;
}
.btn-smallcircle {
    width:80px; 
    height:80px; 
    border-radius:40px;
     -moz-border-radius: 40px; 
     -webkit-border-radius: 40px; 
     -khtml-border-radius: 40px; 
    font-size:12px; 
     text-align:center;
    position: relative;
    line-height:80px;
 }    
.bcolor
{
color:black;
background:black;
}
a.pad
{
padding-left:35px;
}
p.bluecolor
{
color:#ffffff;
}
 
.btn-tinycircle {
    width:60px; 
    height:60px; 
    border-radius:30px;
     -moz-border-radius: 30px; 
     -webkit-border-radius: 30px; 
     -khtml-border-radius: 30px; 
     font-size:12px; 
     line-height:70px; 
     text-align:center;
     

      }
.black
{
    color:#000000;
}

.left
{
padding-left:550px;
padding-top:20px;
}
li
{
padding-left:30px;
}

.light-blue
{
    background:#2BBBD8;
}

/* Section */
section,
		article {
			margin-bottom: 3em;
		}
		
			section > :last-child,
			article > :last-child {
				margin-bottom: 0;
			}

			section > .content > :last-child,
			article > .content > :last-child {
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child {
				margin-bottom: 0;
			}

			.row > section,
			.row > article {
				margin-bottom: 0;
			}


/* Navigation bar style */

.navbar{
    background-image: none;
    filter: none;
    background: #000000;
    opacity: 0.8;
}

.navbar-inner{
    background-image: none;
    filter: none;
    background:#000000;
    height: 60px;
    border: none;
}

.navbar .nav > li > a{
    color: #fff;
    text-shadow: none;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
	
   
}

h1,h2,h4,h5,h6

    width: 100%;
    line-height: 1;
    color:#515151;
    font-weight: bold;
   
}

.white 
{
    color:#ffffff;
}


.navbar .brand{
    color: #fff;
    text-shadow: none;
    line-height: 40px;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.pull-right
{
    float:right;
    margin-left: 800px;
}



/* Section 1 Style*/

.section1{
   height: 700px;
}

.intro{
    position: absolute;
    top: 50%;
    left: 38%;
    right: 5%;
    background: rgba(0,0,0,0.5);
    background: rgba(0,0,0);
        
   
}
h3
{
 
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    color: #fff;
    opacity: 1;
    display: inline;
    position: absolute;
    bottom: 20%;
}
h3 span
{
  
    font-size: 43px;
    word-spacing: -4px;
    font-weight: 300;
    margin-top: 3px;
    padding-left: 5px;
    
}
.arrow
{
    position: absolute;
    bottom: 17%;
    left: 2%;
    right: 0;
    margin: auto;
    opacity: 1;
    width: 27px;
    height: 20px;
    background-image: url(../images/arr.png);
}
.float {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
    @-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


/* About */
.about img
{
 height: 250px;
 width: 250px;
}

.about p {
    padding-top: 50px;
    font-size: 21px;
    text-align:justify;
    color:#587272;
    display:block;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto; 
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.about
{
    background-color: #ffffff;
    padding-bottom: 150px;
    padding-top: 100px; 
   

}
.about h2 {
color: #515151;
text-align: center;
margin: 60px 0 30px;
}

.btn-default{
    background-color: #245359;
    padding: 10px;
    color: #fff;
    border: 1px solid #245359;
}

.btn-default	hover{
    color: #c3c3c3;
}
/* Research */

.research li
{
 
    font-size: 20px;
    text-align:justify;
    color:#587272;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto; 
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.research
{
    background-color: #ffffff;
    padding-bottom: 120px;
    padding-top: 50px; 
   

}
.research h2 {
color: #515151;
text-align: center;
margin: 60px 0 30px;
}
/* Contact */
.contact
{
    background-color: #ffffff;
    padding-bottom: 80px;
   
   

}
.contact h2 {
color: #515151;
text-align: center;
margin: 60px 0 30px;
}
.contact p
{
    font-size: 25px;
    text-align:justify;
    color:#587272;
    display:block;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto; 
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    padding-bottom: 30px;
}
#contactlist
{
     margin-left: 150px;
}
#contactlist  li  
{
 
    font-size: 15px;
    color:#587272;
    display: inline;
    float: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    padding-left: 100px;
   
}
.contact i
{
    line-height: 30px;
    margin-top: 20px;
}

/* Section 2 Style */


.section2{
    height: 700px;
}

.resume
{
    background-color:#FFFFFF;
    height: 135x	0px;
    padding-left:150px;
    

}
.resume h2 {
color: #515151;
text-align: center;
    padding-right: 150px;

}
.padtop-40
{
    padding-top: 40px;
}

.section2 h1{
    padding-bottom: 10px;
}


